#cp-about-data {
    .composition {
        display: flex;
        flex-direction: column;
        gap: 30px;

        &__line {
            position: relative;
            width: 2px;
            height: 200px;
            background-color: #c0cbd3;

            &::after {
                content: '';
                position: absolute;
                top: 0;
                display: block;
                width: 2px;
                height: 40px;
                background-color: $pallete-bg-red;
            }
        }

        &__wrapper {
            display: flex;
            gap: 20px;

            & .composition__item:nth-child(2) .composition__line {
                &::after {
                    top:50%;
                    transform:translate(-50%, -50%);
                }
            }

            & .composition__item:nth-child(3) .composition__line {
                &::after {
                    top: 100%;
                    transform:translate(-100%, -100%);
                }
            }
        }

        &__item {
            display: flex;
            gap: 10px;
            justify-content: center;
            width: 380px;
            height: 200px;
        }

        &__content {
            display: flex;
            flex-direction: column;
            gap: 20px;
            height: 200px;

            padding-top: 20px;
        }

        &__img  {
            width: 25px;
            height: 25px;
            background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25' fill='none'%3e%3cpath d='M2.42954 17.7992C4.13534 21.1478 7.30325 23.5602 10.9585 24.2083C11.3067 24.2803 11.6548 24.1003 11.8288 23.7763C13.0125 21.6879 13.8828 19.3835 14.3353 16.8631C14.4398 16.2149 13.8828 15.6749 13.2561 15.8549C10.0882 16.755 6.71144 17.0071 3.26503 16.503C2.6036 16.395 2.08141 17.1511 2.42954 17.7992Z' fill='%23EE2F24'/%3e%3cpath d='M23.2033 10.2666C22.3905 11.0109 21.5424 11.6842 20.6589 12.2867C20.3055 12.5348 20.1995 12.96 20.3409 13.3499C20.9416 14.7674 21.3303 16.2913 21.507 17.8507C21.6131 18.6658 22.7086 18.9139 23.1326 18.2051C24.2988 16.185 24.8996 13.7751 24.6875 11.2944C24.6875 11.1526 24.6522 11.0109 24.6522 10.8691C24.5815 10.1249 23.7334 9.80592 23.2033 10.2666Z' fill='%23EE2F24'/%3e%3cpath d='M15.3443 9.87015C15.4818 10.8938 15.5506 11.9175 15.5506 12.9764C15.5506 13.6118 16.1694 14.0354 16.7539 13.753C17.3039 13.5059 17.854 13.2235 18.3697 12.9058C18.7822 12.6587 18.9197 12.1293 18.6791 11.7057C18.129 10.7879 17.5102 9.94074 16.7882 9.16418C16.2382 8.56411 15.2412 9.05828 15.3443 9.87015Z' fill='%23EE2F24'/%3e%3cpath d='M6.66619 1.88371C5.97687 2.35897 6.2526 3.4923 7.04531 3.52886C7.63123 3.56542 8.21715 3.63853 8.80307 3.78477C9.69918 3.96756 10.5608 4.22348 11.388 4.55251C12.1118 4.84498 12.7666 4.04068 12.4565 3.3095C12.0429 2.39553 11.5603 1.55467 11.0089 0.713813C10.8021 0.421341 10.4574 0.275105 10.1128 0.348223C8.872 0.677254 7.70016 1.18908 6.66619 1.88371Z' fill='%23EE2F24'/%3e%3cpath d='M18.607 13.6401C17.7162 14.1416 16.7911 14.6073 15.8318 15.0014C15.5577 15.1089 15.3521 15.3955 15.3178 15.7179C15.2493 16.1478 15.215 16.5777 15.1123 17.0434C14.7354 19.1929 14.0501 21.2349 13.125 23.0978C12.8167 23.7069 13.2964 24.4233 13.9473 24.3875C16.4142 24.1726 18.6413 23.1337 20.4229 21.5574C20.5942 21.4141 20.697 21.1991 20.7313 20.9483C20.9026 18.5481 20.5599 16.2553 19.7719 14.1058C19.6349 13.5684 19.0524 13.3535 18.607 13.6401Z' fill='%23EE2F24'/%3e%3cpath d='M3.53562 4.7033C1.7599 7.0239 0.819819 9.98714 1.02873 13.1289C1.06355 13.7001 1.168 14.2713 1.27245 14.8426C1.34209 15.1996 1.62063 15.4495 1.93399 15.5209L2.21254 15.5566C6.28624 16.342 10.3251 16.0207 14.0507 14.8068C14.3988 14.6997 14.6077 14.3784 14.6426 14.0214C14.7818 11.5937 14.5033 9.16599 13.8417 6.91679C13.7721 6.70258 13.6328 6.52408 13.4588 6.41697C11.9964 5.52443 10.3599 4.88181 8.61905 4.5605C7.08706 4.27488 5.58988 4.20348 4.09271 4.38199C3.8838 4.41769 3.67489 4.52479 3.53562 4.7033Z' fill='%23EE2F24'/%3e%3cpath d='M12.332 1.32056C13.1379 2.71121 13.8036 4.17319 14.3291 5.70648C14.3992 5.88477 14.5043 6.06305 14.6795 6.13437C16.5715 7.45371 18.1833 9.16528 19.3745 11.1265C19.6198 11.5544 20.1804 11.6613 20.6008 11.3761C21.7571 10.5559 22.8082 9.62883 23.8243 8.63041C24.0696 8.38081 24.1396 8.02424 23.9995 7.70332C22.2476 3.21043 18.0081 0.0725424 13.1028 0.00122673C12.4021 -0.0344311 11.9816 0.714377 12.332 1.32056Z' fill='%23EE2F24'/%3e%3c/svg%3e");
            background-repeat: no-repeat;
        }

        &__title {
            font-size: 16px;
        }
    }
}