<div class="composition">
    <div class="composition__item">
        <div class="composition__title"></div>
        <div class="composition__img">
            <img src="/src/assets/images/layout/section/composition/1.svg" alt="">
        </div>
    </div>
</div>
<div class="composition">
    <div class="composition__item">
        <div class="composition__title"></div>
        <div class="composition__img">
            <img src="/src/assets/images/layout/section/composition/1.svg" alt="">
        </div>
    </div>
</div>
<div class="composition">
    <div class="composition__item">
        <div class="composition__title"></div>
        <div class="composition__img">
            <img src="/src/assets/images/layout/section/composition/1.svg" alt="">
        </div>
    </div>
</div>
<div class="composition">
    <div class="composition__item">
        <div class="composition__title"></div>
        <div class="composition__img">
            <img src="/src/assets/images/layout/section/composition/1.svg" alt="">
        </div>
    </div>
</div>
<div class="composition">
    <div class="composition__item">
        <div class="composition__title"></div>
        <div class="composition__img">
            <img src="/src/assets/images/layout/section/composition/1.svg" alt="">
        </div>
    </div>
</div>
<div class="composition">
    <div class="composition__item">
        <div class="composition__title"></div>
        <div class="composition__img">
            <img src="/src/assets/images/layout/section/composition/1.svg" alt="">
        </div>
    </div>
</div>
<div class="composition">
    <div class="composition__item">
        <div class="composition__title"></div>
        <div class="composition__img">
            <img src="/src/assets/images/layout/section/composition/1.svg" alt="">
        </div>
    </div>
</div>
<div class="composition">
    <div class="composition__item">
        <div class="composition__title"></div>
        <div class="composition__img">
            <img src="/src/assets/images/layout/section/composition/1.svg" alt="">
        </div>
    </div>
</div>
<div class="composition">
    <div class="composition__item">
        <div class="composition__title"></div>
        <div class="composition__img">
            <img src="/src/assets/images/layout/section/composition/1.svg" alt="">
        </div>
    </div>
</div>
<div class="composition">
    <div class="composition__item">
        <div class="composition__title">Посмотреть больше</div>
        <div class="composition__img"></div>
    </div>
</div>
