<div class="slider">
  <div class="swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="hero-slide">
          <div class="hero-slide__info">
            <div class="hero-slide__title">Устали выбирать МИС по картинкам?</div>
            <div class="hero-slide__text">
              <p>Закажите презентацию или получите демо-версию</p>
            </div>
            <a href="#" class="button button-more">Подробнее</a>
          </div>
        </div>
        <!-- /.hero-slide -->
      </div>
      <!-- /swiper-slide -->
      <div class="swiper-slide">
        <div class="hero-slide">
          <div class="hero-slide__info">
            <div class="hero-slide__title">Устали выбирать МИС по картинкам?</div>
            <div class="hero-slide__text">
              <p>Закажите презентацию или получите демо-версию</p>
            </div>
            <a href="#" class="button button-more">Подробнее</a>
          </div>
        </div>
        <!-- /.hero-slide -->
      </div>
      <!-- /swiper-slide -->
      <div class="swiper-slide">
        <div class="hero-slide">
          <div class="hero-slide__info">
            <div class="hero-slide__title">Устали выбирать МИС по картинкам?</div>
            <div class="hero-slide__text">
              <p>Закажите презентацию или получите демо-версию</p>
            </div>
            <a href="#" class="button button-more">Подробнее</a>
          </div>
        </div>
        <!-- /.hero-slide -->
      </div>
      <!-- /swiper-slide -->
       <div class="swiper-slide">
        <div class="hero-slide">
          <div class="hero-slide__info">
            <div class="hero-slide__title">Устали выбирать МИС по картинкам?</div>
            <div class="hero-slide__text">
              <p>Закажите презентацию или получите демо-версию</p>
            </div>
            <a href="#" class="button button-more">Подробнее</a>
          </div>
        </div>
        <!-- /.hero-slide -->
      </div>
      <!-- /swiper-slide -->
    </div>
    <!-- /swiper-wrapper -->
  </div>
  <!-- /swiper -->

  <div class="container">
    <div class="swiper-button__wrapper">
      <div class="swiper-button-prev"></div>
      <div class="swiper-pagination"></div>
      <div class="swiper-button-next"></div>
    </div>
    <!-- /.swiper-pagination__animation -->
  </div>
  <!-- /container -->

</div>
<!-- /.slider -->