<div class="slider">
  <div class="swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide" data-year="2020">
        <div class="timeline-slide">
          <div class="timeline-slide__item">
            <div class="timeline-slide__text">Модуль «Анестезиолог-реаниматолог» занимает первое место в конкурсе разработок для медицины на выставке ИТМ 2021.</div>
          </div>
          <div class="timeline-slide__item">
            <div class="timeline-slide__text">МИС «Ариадна» и ЛИС «Ариадна.NLab» поддерживают работу на свободно-распространяемой СУБД PostgreSQL, а также на СУБД PostgreSQL Professional, входящей в реестр отечественного ПО Минкомсвязи.</div>
          </div>
          <div class="timeline-slide__item">
            <div class="timeline-slide__text">Модуль Лаборатория NLab «Медицинской информационной системы (МИС) «Ариадна» включен в Единый реестр российских программ (№10755, приказ Минкомсвязи России №634 от 22.06.2021).</div>
          </div>
        </div>
      </div>
      <!-- /swiper-slide -->
       <div class="swiper-slide" data-year="2021">
        <div class="timeline-slide">
          <div class="timeline-slide__item">
            <div class="timeline-slide__text">Модуль «Анестезиолог-реаниматолог» занимает первое место в конкурсе разработок для медицины на выставке ИТМ 2021.</div>
          </div>
          <div class="timeline-slide__item">
            <div class="timeline-slide__text">МИС «Ариадна» и ЛИС «Ариадна.NLab» поддерживают работу на свободно-распространяемой СУБД PostgreSQL, а также на СУБД PostgreSQL Professional, входящей в реестр отечественного ПО Минкомсвязи.</div>
          </div>
          <div class="timeline-slide__item">
            <div class="timeline-slide__text">Модуль Лаборатория NLab «Медицинской информационной системы (МИС) «Ариадна» включен в Единый реестр российских программ (№10755, приказ Минкомсвязи России №634 от 22.06.2021).</div>
          </div>
        </div>
      </div>
      <!-- /swiper-slide -->
       <div class="swiper-slide" data-year="2022">
        <div class="timeline-slide">
          <div class="timeline-slide__item">
            <div class="timeline-slide__text">Модуль «Анестезиолог-реаниматолог» занимает первое место в конкурсе разработок для медицины на выставке ИТМ 2021.</div>
          </div>
          <div class="timeline-slide__item">
            <div class="timeline-slide__text">МИС «Ариадна» и ЛИС «Ариадна.NLab» поддерживают работу на свободно-распространяемой СУБД PostgreSQL, а также на СУБД PostgreSQL Professional, входящей в реестр отечественного ПО Минкомсвязи.</div>
          </div>
          <div class="timeline-slide__item">
            <div class="timeline-slide__text">Модуль Лаборатория NLab «Медицинской информационной системы (МИС) «Ариадна» включен в Единый реестр российских программ (№10755, приказ Минкомсвязи России №634 от 22.06.2021).</div>
          </div>
        </div>
      </div>
      <!-- /swiper-slide -->
       <div class="swiper-slide" data-year="2022">
        <div class="timeline-slide">
          <div class="timeline-slide__item">
            <div class="timeline-slide__text">Модуль «Анестезиолог-реаниматолог» занимает первое место в конкурсе разработок для медицины на выставке ИТМ 2021.</div>
          </div>
          <div class="timeline-slide__item">
            <div class="timeline-slide__text">МИС «Ариадна» и ЛИС «Ариадна.NLab» поддерживают работу на свободно-распространяемой СУБД PostgreSQL, а также на СУБД PostgreSQL Professional, входящей в реестр отечественного ПО Минкомсвязи.</div>
          </div>
          <div class="timeline-slide__item">
            <div class="timeline-slide__text">Модуль Лаборатория NLab «Медицинской информационной системы (МИС) «Ариадна» включен в Единый реестр российских программ (№10755, приказ Минкомсвязи России №634 от 22.06.2021).</div>
          </div>
        </div>
      </div>
      <!-- /swiper-slide -->
       <div class="swiper-slide" data-year="2022">
        <div class="timeline-slide">
          <div class="timeline-slide__item">
            <div class="timeline-slide__text">Модуль «Анестезиолог-реаниматолог» занимает первое место в конкурсе разработок для медицины на выставке ИТМ 2021.</div>
          </div>
          <div class="timeline-slide__item">
            <div class="timeline-slide__text">МИС «Ариадна» и ЛИС «Ариадна.NLab» поддерживают работу на свободно-распространяемой СУБД PostgreSQL, а также на СУБД PostgreSQL Professional, входящей в реестр отечественного ПО Минкомсвязи.</div>
          </div>
          <div class="timeline-slide__item">
            <div class="timeline-slide__text">Модуль Лаборатория NLab «Медицинской информационной системы (МИС) «Ариадна» включен в Единый реестр российских программ (№10755, приказ Минкомсвязи России №634 от 22.06.2021).</div>
          </div>
        </div>
      </div>
      <!-- /swiper-slide -->
       <div class="swiper-slide" data-year="2022">
        <div class="timeline-slide">
          <div class="timeline-slide__item">
            <div class="timeline-slide__text">Модуль «Анестезиолог-реаниматолог» занимает первое место в конкурсе разработок для медицины на выставке ИТМ 2021.</div>
          </div>
          <div class="timeline-slide__item">
            <div class="timeline-slide__text">МИС «Ариадна» и ЛИС «Ариадна.NLab» поддерживают работу на свободно-распространяемой СУБД PostgreSQL, а также на СУБД PostgreSQL Professional, входящей в реестр отечественного ПО Минкомсвязи.</div>
          </div>
          <div class="timeline-slide__item">
            <div class="timeline-slide__text">Модуль Лаборатория NLab «Медицинской информационной системы (МИС) «Ариадна» включен в Единый реестр российских программ (№10755, приказ Минкомсвязи России №634 от 22.06.2021).</div>
          </div>
        </div>
      </div>
      <!-- /swiper-slide -->
       <div class="swiper-slide" data-year="2022">
        <div class="timeline-slide">
          <div class="timeline-slide__item">
            <div class="timeline-slide__text">Модуль «Анестезиолог-реаниматолог» занимает первое место в конкурсе разработок для медицины на выставке ИТМ 2021.</div>
          </div>
          <div class="timeline-slide__item">
            <div class="timeline-slide__text">МИС «Ариадна» и ЛИС «Ариадна.NLab» поддерживают работу на свободно-распространяемой СУБД PostgreSQL, а также на СУБД PostgreSQL Professional, входящей в реестр отечественного ПО Минкомсвязи.</div>
          </div>
          <div class="timeline-slide__item">
            <div class="timeline-slide__text">Модуль Лаборатория NLab «Медицинской информационной системы (МИС) «Ариадна» включен в Единый реестр российских программ (№10755, приказ Минкомсвязи России №634 от 22.06.2021).</div>
          </div>
        </div>
      </div>
      <!-- /swiper-slide -->
       <div class="swiper-slide" data-year="2022">
        <div class="timeline-slide">
          <div class="timeline-slide__item">
            <div class="timeline-slide__text">Модуль «Анестезиолог-реаниматолог» занимает первое место в конкурсе разработок для медицины на выставке ИТМ 2021.</div>
          </div>
          <div class="timeline-slide__item">
            <div class="timeline-slide__text">МИС «Ариадна» и ЛИС «Ариадна.NLab» поддерживают работу на свободно-распространяемой СУБД PostgreSQL, а также на СУБД PostgreSQL Professional, входящей в реестр отечественного ПО Минкомсвязи.</div>
          </div>
          <div class="timeline-slide__item">
            <div class="timeline-slide__text">Модуль Лаборатория NLab «Медицинской информационной системы (МИС) «Ариадна» включен в Единый реестр российских программ (№10755, приказ Минкомсвязи России №634 от 22.06.2021).</div>
          </div>
        </div>
      </div>
      <!-- /swiper-slide -->
       <div class="swiper-slide" data-year="2022">
        <div class="timeline-slide">
          <div class="timeline-slide__item">
            <div class="timeline-slide__text">Модуль «Анестезиолог-реаниматолог» занимает первое место в конкурсе разработок для медицины на выставке ИТМ 2021.</div>
          </div>
          <div class="timeline-slide__item">
            <div class="timeline-slide__text">МИС «Ариадна» и ЛИС «Ариадна.NLab» поддерживают работу на свободно-распространяемой СУБД PostgreSQL, а также на СУБД PostgreSQL Professional, входящей в реестр отечественного ПО Минкомсвязи.</div>
          </div>
          <div class="timeline-slide__item">
            <div class="timeline-slide__text">Модуль Лаборатория NLab «Медицинской информационной системы (МИС) «Ариадна» включен в Единый реестр российских программ (№10755, приказ Минкомсвязи России №634 от 22.06.2021).</div>
          </div>
        </div>
      </div>
      <!-- /swiper-slide -->
       <div class="swiper-slide" data-year="2022">
        <div class="timeline-slide">
          <div class="timeline-slide__item">
            <div class="timeline-slide__text">Модуль «Анестезиолог-реаниматолог» занимает первое место в конкурсе разработок для медицины на выставке ИТМ 2021.</div>
          </div>
          <div class="timeline-slide__item">
            <div class="timeline-slide__text">МИС «Ариадна» и ЛИС «Ариадна.NLab» поддерживают работу на свободно-распространяемой СУБД PostgreSQL, а также на СУБД PostgreSQL Professional, входящей в реестр отечественного ПО Минкомсвязи.</div>
          </div>
          <div class="timeline-slide__item">
            <div class="timeline-slide__text">Модуль Лаборатория NLab «Медицинской информационной системы (МИС) «Ариадна» включен в Единый реестр российских программ (№10755, приказ Минкомсвязи России №634 от 22.06.2021).</div>
          </div>
        </div>
      </div>
      <!-- /swiper-slide -->
       <div class="swiper-slide" data-year="2022">
        <div class="timeline-slide">
          <div class="timeline-slide__item">
            <div class="timeline-slide__text">Модуль «Анестезиолог-реаниматолог» занимает первое место в конкурсе разработок для медицины на выставке ИТМ 2021.</div>
          </div>
          <div class="timeline-slide__item">
            <div class="timeline-slide__text">МИС «Ариадна» и ЛИС «Ариадна.NLab» поддерживают работу на свободно-распространяемой СУБД PostgreSQL, а также на СУБД PostgreSQL Professional, входящей в реестр отечественного ПО Минкомсвязи.</div>
          </div>
          <div class="timeline-slide__item">
            <div class="timeline-slide__text">Модуль Лаборатория NLab «Медицинской информационной системы (МИС) «Ариадна» включен в Единый реестр российских программ (№10755, приказ Минкомсвязи России №634 от 22.06.2021).</div>
          </div>
        </div>
      </div>
      <!-- /swiper-slide -->
       <div class="swiper-slide" data-year="2022">
        <div class="timeline-slide">
          <div class="timeline-slide__item">
            <div class="timeline-slide__text">Модуль «Анестезиолог-реаниматолог» занимает первое место в конкурсе разработок для медицины на выставке ИТМ 2021.</div>
          </div>
          <div class="timeline-slide__item">
            <div class="timeline-slide__text">МИС «Ариадна» и ЛИС «Ариадна.NLab» поддерживают работу на свободно-распространяемой СУБД PostgreSQL, а также на СУБД PostgreSQL Professional, входящей в реестр отечественного ПО Минкомсвязи.</div>
          </div>
          <div class="timeline-slide__item">
            <div class="timeline-slide__text">Модуль Лаборатория NLab «Медицинской информационной системы (МИС) «Ариадна» включен в Единый реестр российских программ (№10755, приказ Минкомсвязи России №634 от 22.06.2021).</div>
          </div>
        </div>
      </div>
      <!-- /swiper-slide -->
       <div class="swiper-slide" data-year="2022">
        <div class="timeline-slide">
          <div class="timeline-slide__item">
            <div class="timeline-slide__text">Модуль «Анестезиолог-реаниматолог» занимает первое место в конкурсе разработок для медицины на выставке ИТМ 2021.</div>
          </div>
          <div class="timeline-slide__item">
            <div class="timeline-slide__text">МИС «Ариадна» и ЛИС «Ариадна.NLab» поддерживают работу на свободно-распространяемой СУБД PostgreSQL, а также на СУБД PostgreSQL Professional, входящей в реестр отечественного ПО Минкомсвязи.</div>
          </div>
          <div class="timeline-slide__item">
            <div class="timeline-slide__text">Модуль Лаборатория NLab «Медицинской информационной системы (МИС) «Ариадна» включен в Единый реестр российских программ (№10755, приказ Минкомсвязи России №634 от 22.06.2021).</div>
          </div>
        </div>
      </div>
      <!-- /swiper-slide -->
    </div>
    <!-- /swiper-wrapper -->
  </div>
  <!-- /swiper -->

  <div class="container">
    <div class="swiper-button__wrapper">
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
      <div class="swiper-pagination"></div>
    </div>
    <!-- /.swiper-pagination__animation -->
  </div>
  <!-- /container -->
</div>
<!-- /.slider -->