// -----------------------------------------------------------------------------
// В этом файле прописываются стили относящиеся ко всем страницам
// -----------------------------------------------------------------------------

body.page {
  display: flex;
  flex-direction: column;

  overflow-x: hidden;
  min-height: 100vh;

  & > main {
    position: relative;
    display: flex;
    flex-grow: 1;
  }

  .page__body {
    width: 80%;
    margin: 0 0 0 auto;
  }
}
