#sidebar {
  position: fixed;
  left: 0;
  overflow: hidden auto;
  height: 100vh;
  background-color: transparent;
  overscroll-behavior-x: contain;

  .sidebar {
    &__wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 410px;
      height: 100%;
      padding: 20px;
      border-right: 1px solid $palette-line-gray;
    }

    &__logo {
      display: inline-flex;
      gap: 20px;
      align-items: center;
      width: inherit;
    }

    &__search {
      width: 100%;
      padding-top: 10px;
      border-bottom: 1px solid $palette-line-gray;

      &:focus-visible {
        outline: none;
      }

      .input {
        padding-left: 40px;

        &__field {
          border-bottom: none;
        }

        &__search {
          position: relative;

          &::before {
            content: "";
            position: absolute;
            top: 50%;
            width: 30px;
            height: 30px;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30' fill='none'%3E%3Cpath d='M16.25 23.75C10.7272 23.75 6.25 19.2728 6.25 13.75C6.25 8.22715 10.7272 3.75 16.25 3.75C21.7728 3.75 26.25 8.22715 26.25 13.75C26.25 19.2728 21.7728 23.75 16.25 23.75Z' stroke='%2387A095' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M3.75 26.25L9.1875 20.8125' stroke='%2387A095' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
            background-position: center;
            background-size: 100%;
            background-repeat: no-repeat;
            transform: translate(0, -50%);
          }
        }
      }
    }

    &__contacts {
      display: flex;
      gap: 20px;
      align-items: center;
      padding: 20px 0;
    }

    &__socials {
      display: flex;
      gap: 4px;
      align-items: center;

      &--item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 49px;
        height: 49px;
        border: 1px solid $palette-line-gray;
        border-radius: 60px;

        img {
          transition: $transition-time ease;
        }

        &:hover {
          img {
            transform: scale(1.1);
          }
        }
      }
    }
  }
}
