.checkbox {
  display: inline-flex;
  align-items: center;

  &__mark {
    position: relative;
    display: block;

    flex-shrink: 0;

    width: 25px;
    height: 25px;

    margin-top: 2px;
    margin-right: 10px;

    border: 2px solid #5e5e5e;

    cursor: pointer;
    transition: all 0.15s ease;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;

      display: block;
      width: 70%;
      height: 70%;

      background: #2e2e2e;

      opacity: 0;
      transform: translate(-50%, -50%);

      transition: opacity 0.15s ease;
    }
  }

  &:hover &__mark {
    border-color: #da2e2b;
  }

  input {
    display: none;

    &:checked ~ .checkbox__mark {
      border-color: #da2e2b;
    }

    &:checked ~ .checkbox__mark::after {
      opacity: 1;
    }
  }

  &__label {
    margin-top: 2px;

    transition: color 0.15s ease;
  }

  &__policy {
    transition: color 0.15s ease;

    &:hover {
      text-decoration: underline;
    }
  }
}

.checkbox-label {
  display: flex;
  flex: 1;
  gap: 8px;
  align-items: flex-start;
  color: #6b7a7a;
  font-size: 13px;
  user-select: none;

  a {
    text-decoration: underline;
  }

  input[type="checkbox"] {
    display: none;
  }

  .custom-checkbox {
    position: relative;
    width: 21px;
    height: 21px;
    border: 1px solid #d2d2d2;
    border-radius: 5px;
    background-color: #ee2f24;
    cursor: pointer;
  }

  input[type="checkbox"]:checked + .custom-checkbox::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 14px;
    height: 12px;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='14' height='13' viewBox='0 0 14 13' fill='none'%3e%3cpath d='M1 6.11133L5.39819 10.6113L13 1.61133' stroke='white' stroke-width='2'/%3e%3c/svg%3e");
    background-position: center;
    background-size: 100%;
    transform:translate(-50%, -50%);
  }
}
