  .useful {
    position: relative;
    padding-bottom: 50px;

    &-card {
      position: relative;
      overflow: hidden;
      min-height: 284px;
      padding: 30px;
      border-radius: var(--border-radius);
      background: $palette-gray;
      transition: color $transition-time ease;

      a {
        &:hover {
          color: $color-text__white;
        }
      }

      &:hover {
        background-color: $palette-green;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='208' height='284' viewBox='0 0 208 284' fill='none'%3E%3Cpath d='M0 -74L205.697 86.9302C207.151 88.0674 208 89.8102 208 91.6558V124.895V161.057L0 -1.67473V-74Z' fill='%2311B96D'/%3E%3Cpath d='M0 359L205.697 198.07C207.151 196.933 208 195.19 208 193.344V160.105V123.943L0 286.675V359Z' fill='%2311B96D'/%3E%3C/svg%3E");
        background-position: center right;
        background-size: contain;
        background-repeat: no-repeat;
        color: $color-text__white;
      }
    }

    &__title {
      padding-bottom: 10px;
      font-weight: 500;
      font-size: 24px;
      line-height: 130%; /* 31.2px */
    }
  }
