<footer id="footer" class="footer">
  <div class="container">
    <!-- <div class="footer__img">
      <img src="assets/images/global/footer-img.svg" alt="">
    </div> -->
    <div class="footer__menu">
      <nav class="nav nav--footer">
        <ul class="nav__list">
          <li class="menu-item nav__item current-menu-item">
            <a href="#" class="nav__link link"><strong>О компании</strong></a>
          </li>
          <li class="menu-item nav__item current-menu-item">
            <a href="#" class="nav__link link">Партнеры</a>
          </li>
          <li class="menu-item nav__item current-menu-item">
            <a href="#" class="nav__link link">История и рекомендации</a>
          </li>
          <li class="menu-item nav__item current-menu-item">
            <a href="#" class="nav__link link"><strong>Пресс-центр</strong></a>
          </li>
          <li class="menu-item nav__item current-menu-item">
            <a href="#" class="nav__link link">Новости</a>
          </li>
          <li class="menu-item nav__item current-menu-item">
            <a href="#" class="nav__link link">Полезные материалы</a>
          </li>
          <li class="menu-item nav__item current-menu-item">
            <a href="#" class="nav__link link">Rutube</a>
          </li>
        </ul>
      </nav>

      <nav class="nav nav--footer">
        <ul class="nav__list">
          <li class="menu-item nav__item current-menu-item">
            <a href="#" class="nav__link link"><strong>Услуги по консалтингу</strong></a>
          </li>
          <li class="menu-item nav__item current-menu-item">
            <a href="#" class="nav__link link">Проектирование сервисных организаций</a>
          </li>
          <li class="menu-item nav__item current-menu-item">
            <a href="#" class="nav__link link">Разработка уникальных стратегий</a>
          </li>
          <li class="menu-item nav__item current-menu-item">
            <a href="#" class="nav__link link">Обучение топ-менеджеров и руководителей Техслужбы</a>
          </li>
          <li class="menu-item nav__item current-menu-item">
            <a href="#" class="nav__link link"><strong>Кейсы</strong></a>
          </li>
          <li class="menu-item nav__item current-menu-item">
            <a href="#" class="nav__link link"><strong>Карьера</strong></a>
          </li>
        </ul>
      </nav>

      <nav class="nav nav--footer">
        <ul class="nav__list">
          <li class="menu-item nav__item current-menu-item">
            <a href="#" class="nav__link link"><strong>Подбор и внедрение ИТ — систем</strong></a>
          </li>
          <li class="menu-item nav__item current-menu-item">
            <a href="#" class="nav__link link">Подбор и внедрение ИТ — систем</a>
          </li>
          <li class="menu-item nav__item current-menu-item">
            <a href="#" class="nav__link link">Business Studio</a>
          </li>
          <li class="menu-item nav__item current-menu-item">
            <a href="#" class="nav__link link">M4 Service Desk</a>
          </li>
          <li class="menu-item nav__item current-menu-item">
            <a href="#" class="nav__link link">SNRD (управление активами)</a>
          </li>
          <li class="menu-item nav__item current-menu-item">
            <a href="#" class="nav__link link">FSM системы (Teletrack, Throne Baron, Navixy)</a>
          </li>
        </ul>
      </nav>
    </div>
    <!-- /.footer__menu -->

    <div class="footer-contacts">
      <div class="footer-contacts__item">
        <a href="tel:+79175126697">+7 (917) 512-66-97</a>
      </div>
      <div class="footer-contacts__item">
        <p>141408 Московская обл. г.Химки<br>Ленинский проспект 35 к. 3</p>
      </div>
      <div class="footer-contacts__item footer-contacts__item--list">
        <ul>
          <li>Автоматизация сервиса.</li>
          <li>Тренинги по управлению сервисом</li>
          <li>Консалтинговые проекты повышения<br>эффективности и прибыли сервиса</li>
        </ul>
      </div>
    </div>
    <div class="footer__links">
      <a href="#">Политика конфиденциальности</a>
      <span>© ООО «СЕРВИС ЭДВАЙЗЕР». Все права защищены</span>
      <span>Сайт сделан в <a href="https://artfactor.ru">АртФактор</a></span>
    </div>
  </div>
  <!-- /.container -->

</footer>