<section id="s-feedback" class="section">
  <div class="container">
    <div class="section__title">
      Свяжитесь с нами
    </div>

    <form class="form form-custom" action="">

      <div class="form__rows">
        <div class="form__row">
          <div class="form__group">
            <!-- <label for="name">Имя</label> -->
            <input type="text" name="name" class="input__field" placeholder="Имя" required />
          </div>
          <div class="form__group">
            <!-- <label for="email">E-mail</label> -->
            <input type="email" name="email" class="input__field" placeholder="E-mail" required />
          </div>
        </div>
        <div class="form__row">
          <div class="form__group form__group--full-width">
            <!-- <label for="question">Вопрос</label> -->
            <textarea class="input__field" name="question" placeholder="Вопрос" rows="1" required></textarea>
          </div>
        </div>
      </div>

      <div class="form__action">
        <a class="button button-primary">Отправить</a>
        <div class="form__privacy">
          <!-- <input type="checkbox" name="form__checkbox" class="checkbox" checked> -->
          <label class="checkbox-label">
            <input type="checkbox" required checked />
            <span class="custom-checkbox"></span>
            <p>Нажимая на кнопку «Отправить» вы соглашаетесь с <a href="#" target="_blank">политикой конфиденциальности</a></p>
          </label>
          <!-- <p>Нажимая на кнопку «Отправить» вы соглашаетесь с <a href="#">политикой конфиденциальности</a></p> -->
        </div>
      </div>

      <div class="form__links">
        <div class="form__social">
          <img src="/src/assets/images/resource/social/vk.svg" alt="">
        </div>
        <div class="form__social">
          <img src="/src/assets/images/resource/social/youtube.svg" alt="">
        </div>
        <div class="form__social">
          <img src="/src/assets/images/resource/social/allmed.svg" alt="">
        </div>
      </div>
    </form>
  </div>
  <!-- /.container -->
</section>